EXTRACTING DATA FROM THE SOURCE

In [8]:
import pandas as pd

In [9]:
#Reading two CSV files: one containing raw data and another with incremental data.
# It then prints the first 10 rows of the raw data and its summary information.
rawdata = pd.read_csv(r'data\raw_data.csv')
incremented = pd.read_csv(r'data\incremental_data.csv')

# Displaying the first 10 rows and summary information of the raw data.
print(rawdata.head(10))
print(rawdata.info())

   order_id customer_name  product  quantity  unit_price  order_date region
0         1         Diana   Tablet       NaN       500.0  2024-01-20  South
1         2           Eve   Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie   Laptop       2.0       250.0  2024-01-08    NaN
3         4           Eve   Laptop       2.0       750.0  2024-01-07   West
4         5           Eve   Tablet       3.0         NaN  2024-03-07  South
5         4           Eve   Laptop       2.0       750.0  2024-01-07   West
6         7       Charlie  Monitor       2.0       750.0  2024-02-02   West
7         8       Charlie   Laptop       3.0         NaN  2024-02-17    NaN
8         9       Charlie  Monitor       NaN       750.0  2024-03-16   West
9        10           Eve  Monitor       1.0       500.0  2024-02-28  North
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  99 non-null     object
 2   product        100 non-null    object
 3   quantity       74 non-null     float64
 4   unit_price     65 non-null     float64
 5   order_date     99 non-null     object
 6   region         75 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB
None

From the above summary we can see that the data set is that of 100 entries containing 7 columns. order_id, the primary key uniquely identifies each order. We can see that the data set contains alot of null values especially in the unit price column(35) and the quantity column(26) which will be crucial for analysis.

In [10]:
# Printing the first 5 rows and summary information of the incremental data.
print(incremented.head())
print(incremented.info())
print(incremented['order_date'].min())

   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0  2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0  2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   customer_name  4 non-null      object
 2   product        10 non-null     object
 3   quantity       6 non-null      float64
 4   unit_price     10 non-null     float64
 5   order_date     10 non-null     object
 6   region         8 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 692.0+ bytes
None
2024-05-04

In the incremental data, we see a dataset of 10 entries with 7 columns. Dataset containing null values especially in the customer_name(6) and quantity(4) columns.

In [11]:
#updating the last extraction date
import pandas as pd

# Convert to datetime before using isoformat
new_extractiondate = pd.to_datetime(incremented['order_date'].max())
with open("last_extraction.txt", 'w') as g:
    g.write(new_extractiondate.isoformat())  # Write the new date in the same format
print(f"New extractiondate written: {new_extractiondate.isoformat()}")

New extractiondate written: 2024-05-29T00:00:00